Layouts:

<p><?php echo Mage::registry('debug_request');?></p>
<p><?php echo Mage::registry('debug_full_action_name');?></p>
<p><?php echo Mage::registry('debug_request_action_name');?></p>
<p><?php echo nl2br(htmlspecialchars(Mage::registry('debug_handles')));?></p>
<p><?php echo nl2br(htmlspecialchars(Mage::registry('debug_xml')));?></p>


<table class="data-table" id="mgt-developer-toolbar-handles" border="0" cellpadding="0" cellspacing="0">
  <?php foreach ($this->getHandles() as $handle) : ?>
  	<tr>
      <td>
        <strong><?php echo $handle ?></strong>
      </td>
    </tr>
  <?php endforeach ?>
</table>
<script type="text/javascript">decorateTable('mgt-developer-toolbar-handles')</script>